*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #d18631;
  --button-color: #000;
  --bg-color: #abb38b;
  --tablet: #fff;
  --grey: #ffffffc5;
  --light-grey: #f3f3f3;
  --completed-color: #356e42;
  --important-color: #9e1b1b;
  --shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

body {
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: "Roboto", sans-serif;
  background-color: var(--tablet);
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.03);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;

  width: 92%;
  max-width: 800px;

  margin: 40px auto;
  padding: 24px;

  background-color: var(--main-color);
  border-radius: 30px;

  box-shadow: var(--shadow);
}

.task-input {
  width: 100%;
  max-width: 420px;

  height: 40px;

  padding-left: 10px;

  border: none;
  background-color: var(--grey);

  border-radius: 12px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 420px;

  height: 38px;

  margin-top: 20px;

  color: white;
  font-size: 16px;

  background-color: var(--button-color);

  border-radius: 10px;
}

.task-list {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 250px;
  max-height: 350px;

  background-color: var(--grey);

  gap: 20px;
  padding: 20px;
  padding-top: 40px;

  border-radius: 12px;

  overflow-y: auto;
}

.task-item {
  display: flex;
  align-items: center;

  width: 100%;

  list-style-type: none;

  padding: 6px 10px;

  color: var(--button-color);
  background-color: var(--tablet);

  border-radius: 6px;

  cursor: pointer;

  transition: transform 0.2s ease;

  position: relative;
}

.task-item:hover {
  transform: scale(1.01);
}

.task-text {
  flex: 1;
}

.filters {
  display: flex;
  justify-content: space-between;

  height: 40px;
  width: 100%;

  gap: 8px;
}

button[data-filter] {
  flex: 1;

  background-color: var(--button-color);
  color: white;

  border-radius: 12px;
}

button.active {
  border: solid 1px white;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
  background-color: var(--completed-color);
}

.important {
  background-color: var(--important-color);
}

.status {
  display: flex;
  flex-direction: row;

  gap: 8px;
}

.sort {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

.sort-btn img {
  width: 20px;
  height: 20px;
}

.task-menu-btn {
  margin-left: auto;

  display: flex;
  align-items: center;

  opacity: 0;
}

.task-item:hover .task-menu-btn {
  opacity: 1;
}

.task-menu-btn img {
  width: 16px;
  height: 16px;
}

.task-menu {
  position: absolute;

  top: 25px;
  right: 0;

  display: none;
  flex-direction: column;

  background: white;

  border-radius: 8px;

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);



  transform: translateY(-5px);
  opacity: 0;

  transition: 0.2s ease;

  z-index: 1000;
}

.task-menu.show {
  display: flex;

  transform: translateY(0);
  opacity: 1;
}

.task-menu button {
  padding: 8px 16px;

  background: white;

  text-align: left;

  font-size: 14px;
}

.task-menu button:hover {
  background: var(--light-grey);
}

.task-item.menu-open .task-menu {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.task-item.menu-open {
  z-index: 100;
}

@media (min-width: 640px) {

  .container {
    padding: 30px;
  }

  .task-list {
    max-height: 380px;
  }

}


@media (min-width: 768px) {

  .container {
    padding: 40px;
  }

  .task-list {
    max-height: 420px;
  }

  .filters {
    gap: 12px;
  }

}

@media (min-width: 1024px) {

  .container {
    margin: 70px auto;
  }

  .task-list {
    max-height: 480px;
  }

}

@media (min-width: 1440px) {

  .container {
    max-width: 900px;
  }

  .task-list {
    max-height: 520px;
  }

}
